.c1
{
	background-color: lightgreen;
	height: 40px;
	margin-top: -15px;
}
.c1 ul li
{
	margin-top: -35px;
	list-style-type: none;
	float: left;
	padding: 40px;
	
}
.c2{
	background-color:#333;
	height: 300px;
	color: cyan;
}
.c3
{
	float: left;
	margin-left: 200px;
	width: 700px;	
	margin-top: -180px;
	background-color: #d9fe90;
	height: 500px; 
}
.c3 table input
{
	border-radius: 5px;
}

.c3 table th{
	height: 60px;
}

.a5
{
	clear: both;
	background-color:#d9d4de;
	height: 320px; 
	margin-top: -40px;
}
.a5 ul li
{
	margin-left: 200px;
	float: left;
	list-style-type: none;
	padding: 10px;
	font-size: 20px;
}